.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/modules
/.idea/misc.xml
/.idea/modules/app/E-REPORT_QCPP.app.androidTest.iml
/.idea/modules/app/E-REPORT_QCPP.app.iml
/.idea/modules/app/E-REPORT_QCPP.app.main.iml
/.idea/modules/app/E-REPORT_QCPP.app.unitTest.iml
/.idea/modules/E-REPORT_QCPP.iml
/.idea/runConfigurations.xml
